{% set phoneInvalid = 'error_messages.phone_invalid' %}
{% set emailInvalid = 'error_messages.email_invalid' %}

<form name="contact" method="POST" data-netlify="true" action="{{ link('thank_you#thanks_message') }}" class="form js-validate-form" netlify-honeypot="cazodemiel">
    <input name="cazodemiel" hidden />
    <input type="text" name="subject" value="Contacto web: {{ contactEmail }} rellenó el formulario" hidden >
    <div class="form__fieldset margin-bottom--l">
        <label for="contactName">{{ 'contact_form_label_name'|trans}}</label>
        <input id="contactName" type="text" name="contactName" value="" placeholder="">
    </div>
    <div class="form__fieldset margin-bottom--l">
        <label for="contactPhone">{{ 'contact_form_label_phone'|trans}} *</label>

        <input id="contactPhone" type="tel" name="contactPhone" value="" placeholder=" " required />
    </div>
    <div class="form__fieldset margin-bottom--l">
        <label for="contactEmail">{{ 'contact_form_label_email'|trans}} *</label>
        <input id="contactEmail" type="email" name="contactEmail" value="" placeholder=" " required />
    </div>
    <div class="form__fieldset margin-bottom--l">
        <label for="contactMessage">{{ 'contact_form_label_comments'|trans}}</label>
        <textarea id="contactMessage" type="email" name="contactMessage" value="" placeholder=""></textarea>
    </div>
    <div class="form__fieldset margin-bottom--l">
        <input type="checkbox" id="contact_privacy" value=""><label for="contact_privacy">{{ 'contact_form_label_privacy'|trans }}</label>
    </div>
    <div class="form__fieldset margin-bottom--l">
        <input type="checkbox" id="subscription" value=""><label for="subscription">{{ 'contact_form_label_subscription'|trans }}</label>
    </div>
    <div class="form__fieldset margin-bottom--l">
        <button type="submit" class="cta cta--primary u-shadow"><span>{{ 'commons_contact_us'|trans}}</span></button>
    </div>
</form>
