{% set class = section.class|default('') %}

<section class="what-we-do {{ class }} padding-top--xxl padding-bottom--xxl theme2">
    <div class="u-wrapper padding-top--xxl">
        <h2 class="title2 u-align-center margin-bottom--xxl t-display">{{ 'what_we_do.title'|trans }}</h2>
    </div>
    <div class="what-we-do__content u-wrapper">
        <div class="what-we-do__column margin-bottom--xl">
            <p class="title3">{{ 'what_we_do.theatre_title'|trans }}</p>
            <p class="p-big">{{ 'what_we_do.theatre_description'|trans }}</p>
        </div>
        <div class="what-we-do__column margin-bottom--xl">
            <p class="title3">{{ 'what_we_do.interpretation_title'|trans }}</p>
            <p class="p-big">{{ 'what_we_do.interpretation_description'|trans }}</p>
        </div>
        <div class="what-we-do__column margin-bottom--xl">
            <p class="title3">{{ 'what_we_do.dance_title'|trans }}</p>
            <p class="p-big">{{ 'what_we_do.dance_description'|trans }}</p>
        </div>
    </div>
</section>