<section class="cookies-banner js-cookies-banner" hidden>
    <div class="cookies-banner__wrapper">
        <div class="cookies-banner__content">
            <h2 class="u-bold t-display">{{ 'cookies_banner_sentence1'|trans }}</h2>
            <p class="cookies-banner__text p-small">{{ 'cookies_banner_sentence2'|trans }}</p>
        </div>
        <div class="cookies-banner__actions">
            <div>
                <button class="cta cta--secondary js-accept-cookies">{{ 'cookies_banner_button_label_ok'|trans }}</button>
            </div>
            <a href="{{ link('cookies')}}" class="c-white-base p-small">{{ 'cookies_banner_link_more'|trans|raw }}</a>
        </div>
    </div>
</section>
