{% import "../helpers/macros.twig" as macros %}

<footer class="footer theme1">
    <div class="footer__colophon">
        <div class="footer__colophon-wrapper u-wrapper">
            <div class="footer__colophon-column">
                <div class="footer__logo">
                    <a href="{{ link('index') }}" class="u-flex">
                        <span class="u-sr-only">{{ 'header.link_main_page'|trans }}</span>
                    </a>
                </div>
                <div>
                    <p class="u-flex">{{ siteName }}</p>
                </div>
                <ul class="" label="{{ 'footer.contact_info'|trans }}">
                    <li class="p-small">{{ 'footer.address.sentence_1'|trans }}</li>
                    <li class="p-small">{{ 'footer.address.sentence_2'|trans }}</li>
                </ul>
            </div>
            <div class="footer__colophon-column">
                <div class="footer__languages">
                    <p id="languages-title" class="footer__languages-title">{{ 'footer.languages_title'|trans }}</p>
                    <ul class="u-flex u-flex--justify-center">
                        <li><a href="./" class="footer__language-item" lang="en">{{ 'a11y.language_switcher.en'|trans }}</a></li>
                        <li><a href="{{ transRoute(pageName, 'es') }}" class="footer__language-item" lang="es">{{ 'a11y.language_switcher.es'|trans }}</a></li>
                        <li><a href="{{ transRoute(pageName, 'ca') }}" class="footer__language-item" lang="ca">{{ 'a11y.language_switcher.ca'|trans }}</a></li>
                    </ul>
                </div>
                <ul class="footer__socials">
                    {# <li class="footer__socials-item"><a href="https://www.instagram.com/microteatrebcn/?hl=es" class="footer__socials-link">
                        {% include 'helpers/inline-svg.twig' with { svg: 'social-footer-instagram' } %}
                        <span class="u-sr-only">{{ 'footer.visit_instagram'|trans }} {{ 'a11y.new_window'|trans}}</span></a>
                    </li>
                    <li class="footer__socials-item"><a href="https://www.facebook.com/microteatrebcn" class="footer__socials-link">
                        {% include 'helpers/inline-svg.twig' with { svg: 'social-footer-facebook' } %}
                        <span class="u-sr-only">{{ 'a11y.new_window'|trans}}</span></a>
                    </li>
                    <li class="footer__socials-item"><a href="https://www.youtube.com/channel/UCKubLrsjMRHkrV7ACNDx02A/featured" class="footer__socials-link">
                        {% include 'helpers/inline-svg.twig' with { svg: 'social-footer-youtube' } %}
                        <span class="u-sr-only">{{ 'footer.visit_youtube'|trans }} {{ 'a11y.new_window'|trans}}</span></a>
                    </li> #}
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__closing">
        <div class="footer__closing-wrapper u-wrapper">
            <ul class="footer__closing-list u-flex">
                <li class="footer__closing-list-item"><a class="p-small" href="{{ link('cookies')}}" rel="nofollow">{{ 'pages.privacy_cookies.title'|trans }}</a></li>
                <li class="footer__closing-list-item"><a class="p-small" href="{{ link('politica_de_privacidad')}}" rel="nofollow">{{ 'pages.privacy_policy.title'|trans }}</a></li>
            </ul>
            <p class="footer__copy p-small">&copy;{{ 'footer.address.sentence_3'|trans }}</p>
        </div>
    </div>
</footer>
