{% set class = section.class|default('') %}

<section class="services {{ class }} padding-top--xxl padding-bottom--xxl">
    <div class="u-wrapper padding-top--xxl">
        <h2 class="title2 padding-bottom--xxl margin-bottom--xxl t-display u-align-center">{{ 'services.title'|trans }}</h2>
        <div class="services__columns-wrapper">
            {% for i in 1..3 %}
                {% set title = 'services.service_' ~ i ~ '.title'|default('') %}
                {% set description = 'services.service_' ~ i ~ '.description'|default('') %}
                
                <div class="services__column margin-bottom--xxl padding-top--xxl padding-bottom--xxl">
                    <img class="services__column-image" src="{{ asset('services/service_' ~ i ~ '.png') }}" loading="lazy" width="512" height="512" />
                    <div class="services__column-textual">
                        <h3 class="title4 t-serif margin-bottom--xl">{{ title|trans }}</h3>
                        <p class="title6">{{ description|trans }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>