<!DOCTYPE html>
<html lang="{% block locale %}{{ currentLocale }}{% endblock %}" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ siteName }}{% endblock %}</title>
    {% block head %}{% endblock %}
    {% if block('crp') is defined and block('crp') is not null %}
        <style type="text/css">
            {{ block('crp') }}
        </style>
    {% endif %}
</head>
<body class="{% block pageClass %}{% endblock %}">
    {# {% include 'components/cookies-banner.twig' %} #}
    {% block header %}{% endblock %}
    <main class="main" role="main">
        {% block main %}{% endblock %}
    </main>
    {% block footer %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('styles.min.css') }}">
    {% block scripts %}
        <script src="{{ asset('app.min.js') }}"></script>
    {% endblock %}
</body>
</html>
